@font-face {font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #131315;}
body{font-weight: 400; font-style: normal; font-size: 14px; line-height: 22px; color: #131315;
  font-family: 'Pretendard-Regular';}

/* 헤더 */
header{background-color: #fbfeff;position: relative; }
.header_inner{width: 1200px; height: 122px; margin: auto;}
.nav> li:hover> a{color: #2764b0;}
.header_inner h1{float: left; padding: 50px 0 0; display: block; }
.nav> li{float: left; font-weight: bold;  padding: 50px 43px 0;}

li a{display: block; padding-bottom: 20px; }
.nav{float: right; }
.sub{background-color: rgba(0, 172, 236, 0.7); position: absolute; width: 100%; left: 0; 
padding: 10px 0; z-index: 99; }
.sub div{width: 1200px; margin: auto;  }
.mg{width: 135.52px;  margin-left: 593px; text-align: center; }
.sub ul li a:hover{color: #2764b0;}
.sub ul{float: left; width:131px; text-align: center; }
.sub ul li{padding: 15px 0; }
.sub a{color: #fbfeff ; }

.sub{display: none;/*서브메뉴 안보이게 만들기*/ }
.nav li:hover .sub{display: block;/*서브메뉴 보이게 만들기*/ } 


.mainbanner img{ width: 50%; display: block; float: left; clear: both;}
.fixbanner img{ width: 50%; display: block; float: right; }

.content1{background-image: url(images/background.png);  margin-top: 33%; display: block; clear: both;
background-position: center;}
.content1_inner{margin: auto; width: 1200px; height: 581px;}
h3{font-size: 25px; text-align: center; font-weight: 700; margin: 50px 0;}
.menu li{float: left; width: 25%; text-align: center;}

.aniimg1{animation: ani 2.5s infinite alternate linear;}
.aniimg2{animation: ani2 2.5s infinite alternate linear;}

h4{font-size: 18px; font-weight: 900; padding: 40px 0 20px 0;}

.goods> li{float: left; width: 20%; text-align: center;}
.goods li img{transform: scale(0.5);}
.move img{animation: ani4 3s  linear forwards;}
.move{animation: ani3 3s linear infinite; box-sizing: border-box;}



.top{position:fixed; bottom:50px; right:50px;  display:none;}/* icon 꾸미기 */
.goods{margin: auto; width: 1400px; height: 550px; padding-bottom: 30px;}

.onedayclass{padding-top: 100px; display: block; width: 1360px; margin: auto; padding-bottom: 180px;}
.onedayclass li{float: left;}
.leftonedayclass{padding-right: 60px;}

.bottomicons{padding-top: 180px; padding-bottom: 300px; width: 1000px; margin: auto;}
.bottomicons li{float: left;  position: relative;}
.hover1{position: absolute; top: 0; left: 0; opacity: 0;}
.hover2{position: absolute; top: 0; left: 0; opacity: 0;}
.bottomicons li:hover .hover1{opacity: 1; }
.bottomicons li:hover .hover2{opacity: 1; }

.centericons{margin: 0 200px 0 200px; }


/*푸터*/
footer{background-image:url(images/footer.png); height: 361px; margin: auto; position: relative;} 
.footer_inner{width: 1200px;  margin: auto; padding-top: 120px;}
.footer_inner p{color: #fbfeff; line-height: 30px; clear: both; }
.footer_inner span{color: rgba(251, 254, 255, 0.4);}

.left{float: left; }
.right{float: right; }
.right li{float: left;  padding: 0 20px 5px 0; opacity: 0.7 ; display: block; }
.right li:hover{opacity:1}


.second{clear: both;}
.second li{float: left; color: #fbfeff; padding: 0 20px 5px 0;}
.second li a:hover{color: #00aeef ;}
.second a{font-weight: 700; color: #fbfeff;}


@keyframes ani{ 0%{transform: translateY(0);} 100%{transform: translateY(30px);}}
@keyframes ani2{ 0%{transform: translateY(30px);} 100%{transform: translateY(0);}}

@keyframes ani3{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}

}
@keyframes ani4{
  0%{transform: scale(0.5);}
  100%{transform: scale(1);}
}

